* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-self: center;
    height: 100vh;
    background-color: #d8b4ff;
}

div {
    background-color: #9933ff;
    padding: 50px;
    border-radius: 12px;
    border: 5px solid #7a1fd1;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

h1 {
    color: #fff;
    font-weight: bold;
}

input {
    background-color: #b266ff;
    border-radius: 4px;
    border: 3px solid #7a1fd1;
}

input::placeholder {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

button {
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    height: 70px;
    width: 200px;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #8a2be2;
    border: 5px solid #6a0dad;
}

button:hover {
    color: #ffffff;
    background-color: #a64dff;
    border: 5px solid #6a0dad;
    transform: scale(1.05);
    transition: 0.2s ease;
}
