* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-self: center;
    height: 100vh;
    background-color: #ffd1a3;
}

div {
    background-color: #ff8c00;
    padding: 50px;
    border-radius: 12px;
    border: 5px solid #e67300;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

h1 {
    color: #fff;
    font-weight: bold;
}

input {
    background-color: #ffa64d;
    border-radius: 4px;
    border: 3px solid #e67300;
}

input::placeholder {
    color:#ffffff;
    text-align: center;
    font-weight: bold;
}

button {
    text-align: center;
    border-radius: 12px;
    padding:20px;
    height: 70px;
    width: 200px;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff7f00;
    border: 5px solid #cc6600;
}

button:hover {
    color: #ffffff;
    background-color: #ff9933;
    border: 5px solid #cc6600;
    transform: scale(1.05);
    transition: 0.2s ease;
}
